/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: rgb(184, 62, 62);
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .menu {
    list-style-type: none;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      padding: 10px 0;
    }
  
    .menu li {
      display: block;
      margin: 10px 0;
    }
  
    .menu-toggle {
      display: block;
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  